# Sublime crap
sublime-text/Package Control.ca-list
sublime-text/Package Control.ca-bundle
sublime-text/Package Control.cache
sublime-text/Package Control.last-run
sublime-text/Package Control.system-ca-bundle
sublime-text/Package Control.ca-certs
sublime-text/oscrypto-ca-bundle.crt
sublime-text/Package Control.merged-ca-bundle

# Mac OSX
.DS_Store

# ctags
tags

*~
*.swp
